
.navbar-default{
    background-color: #4682B4;   
    /*background-color: #1b6d85;*/   
}
.navbar-default .navbar-brand{
    font-size: 27px;
    font-family:serif;
    font-weight: bold; 
}
span{    
    margin-top: 8px; 
    font-size: 22px;
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color:#fff;
    font-size: 20px;
    font-family: serif;
    font-weight: bold; 
}
.navbar {
    padding-top: 10px;
    padding-bottom: 30px;  
}
.navbar-nav  li a:hover {
    color: #e7e7e7!important;
}
.navbar-nav  li a {
    color: #fff !important;
}
ul.nav li.dropdown:hover ul.dropdown-menu
{ 
    display: block; 
    background: #4682B4;
    
}
ul.nav li.dropdown:hover ul.dropdown-menu a:hover
{ 
    display: block; 
    background: #4682B4;
    
}

