
#AtividadesSemanais{
    margin-top: 130px;
}

#infoAtividade{
    text-align: center;
    background-color: #66afe9;
    height: 300px;
}

h3{
    color: #fff;
}
P{
    text-align: justify;
    color: #fff;
    font-size: 16px;
}
/*o efeito abaixo, tem como propósito fazer o texto aparecer depois de 3s da pagina garregada*/
#efeito  {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

